.project-container {
    position: relative;
    width: 80vw;
    height: 40vw;
    margin-bottom: 40px;
    border: 3px solid var(--dark-background);
    border-radius: 5px;
    cursor: pointer;
}

.project-container:hover {
    border: 3px solid var(--light-accent);
}

.project-image {
    height: 200px;
    width: 100%;
}

.project-title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35px;
    height: 40px;
    background-color: var(--light-accent);
    font-size: 22px;
    color: var(--white-color);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    transition: top 300ms ease-out;
    visibility: hidden;
}

.project-container:hover .project-title {
    top: 70px;
    visibility: visible;
}
