.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    font-size: 22px;
}

.test {
    height: 50px;
    width: 50px;
    background-image: url('../../images/bpm.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-container {
    height: 40px;
    width: 40px;
    background-color: salmon;
}

.title-icon {
    height: 50px;
    width: 50px;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    color: rgb(151, 153, 155);
}

.header-icon {
    font-size: 24px;
    margin-bottom: 7px;
}

.email-icon {
    font-size: 20px;
}

.icon-text {
    font-size: 14px;
}
